<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>EmpleosApp | Listado de Usuarios</title>
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
</head>

<body>

  <header th:insert="fragments/menu :: menu-principal"> </header>

  <main role="main">
    <hr>
    <div class="container">
      <div class="card">
        <h4 class="card-header"><strong>Listado de Usuarios</strong></h4>
        <div class="card-body">
          <hr>
          <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Estatus</th>
                <th scope="col">Operaciones</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="usuario : ${usuario}">
                <td th:text="${usuario.nombre}"></td>
                <td th:text="${usuario.username}"></td>
                <td th:text="${usuario.email}"></td>
                <td th:text="${usuario.estatus}"></td>
                <td>
                  <a th:href="@{/usuarios/delete/{idUsu} (idUsu = ${usuario.id})}"
                    onclick="return confirm('¿Estas seguro?')" class="btn btn-success btn-sm" role="button"
                    title="Eliminar el registro."><i class="fas fa-trash" aria-hidden="true"></i></a>
                  <a href="#" onclick="return confirm('¿Quiere bloquear el acceso al usuario?')"
                    class="btn btn-success btn-sm" role="button"
                    title="Bloquear el acceso al sistema para este usuario."><i class="fas fa-lock"
                      aria-hidden="true"></i></a>
                  <a href="#" onclick="return confirm('¿Desea desbloquear el usuario?')" class="btn btn-success btn-sm"
                    role="button" title="Permitir el acceso al sistema a este usuario."><i class="fas fa-unlock"
                      aria-hidden="true"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
          <nav th:if="${usuario.totalPages > 0}" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item" th:classappend="${usuario.number == 0 ? 'disabled' : ''}">
                <a th:href="@{/usuarios/indexPaginate(page=${usuario.number - 1})}" class="page-link">Anterior</a>
              </li>

              <li class="page-item" th:classappend="${i eq usuario.number + 1} ? 'active'"
                th:each="i : ${#numbers.sequence( 1, usuario.totalPages, 1)}">
                <a class="page-link" th:href="@{/usuarios/indexPaginate?page={tmpPag} (tmpPag=${i-1}) }" th:text="${i}"
                  th:title="${'Page '+ i}" data-toggle="tooltip"></a>
              </li>
              <li class="page-item"
                th:classappend="${usuario.number == (usuario.totalPages - 1) ? 'disabled' : ''}">
                <a th:href="@{/usuarios/indexPaginate(page=${usuario.number + 1})}" class="page-link">Siguiente</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

  </main>

  <footer class="footer" th:insert="fragments/footer :: pie-pagina"> </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>