<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacante</title>
</head>

<body>
    <h1>Oferta Laboral</h1>
    <h3 th:text="'Nombre: ' + ${vacante.nombre}"></h3>
    <h3 th:text="'Fecha: ' + ${vacante.fecha}"></h3>
    <h3 th:text="'Salario: ' + ${vacante.salario}"></h3>
    <h3 th:text="'Descripción: ' + ${vacante.descripcion}"></h3>


</body>

</html>