<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">
  <title>EmpleosApp | Detalles de la Oferta de Trabajo</title>
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
</head>

<body>

  <header th:insert="fragments/menu :: menu-principal"></header>
  <main role="main">
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img class="rounded mx-auto d-block" th:src="@{/logos/{temp} (temp = ${vacante.imagen})}"
            alt="Generic placeholder image" width="220" height="220">
        </div>
        <div class="col-md-9">
          <div class="card">
            <div sec:authorize="isAnonymous()">
              <h4 class="card-header"><strong class="text-success">Registrese o ingrese para aplicar a:</strong>
                <span th:text="${vacante.nombre}"></span>
              </h4>
            </div>
            <div sec:authorize="isAuthenticated()">
              <h4 class="card-header">Aplicar a:
                <strong><span th:text="${vacante.nombre}"></span></strong>
              </h4>
            </div>
            <div class="card-body">
              <h6 class="card-title"><strong>Categoría: </strong> <span th:text="${vacante.categoria.nombre}"></span>
              </h6>
              <h6 class="card-title"><strong>Publicado: </strong> <span
                  th:text="${#dates.format(vacante.fecha, 'dd-MM-yyyy')}"></span></h6>
              <h6 class="card-title"><strong>Salario Ofrecido: </strong><span th:text="${vacante.salario}"></span>
              </h6>
              <p th:text="${vacante.descripcion}" class="card-text">Descripción</p>
              <div class="card bg-light mb-3">
                <div class="card-body">
                  <h5 class="card-title">Detalles de la oferta de trabajo</h5>
                  <p class="card-text" th:utext="${vacante.detalles}"></p>
                </div>
              </div>
              <div sec:authorize="isAuthenticated()">
                <a class="btn btn-success" th:href="@{/solicitudes/create/{temp} (temp=${vacante.id})}" role="button"
                  title="Aplicar para esta oferta de trabajo."><i class="fas fa-file" aria-hidden="true"></i>
                  Aplicar</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>

  <footer th:insert="fragments/footer :: pie-pagina" class="footer">

  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>