<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de vacantes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>
    <img th:src="@{/image/job.png}" width="336" height="136">
    <h2>Lista de Vacantes</h2>

    <table class="table table-striped-columns table-borderless table hover">
        <tr>
            <th>Logo</th>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Fecha de publicación</th>
            <th>Salário</th>
            <th>Destacada</th>
            <th>Detalle</th>
            <th>Borrar</th>
        </tr>
        <tr th:each="vacante : ${listvacantes}">
            <td>
                <img th:src="@{/image/{temp} (temp=${vacante.image})}" width="50" height="50">
            </td>
            <td th:text="${vacante.id}">ID</td>
            <td th:text="${vacante.nombre}">Nombre</td>
            <td th:text="${vacante.descripcion}">Descripción</td>
            <td th:text="${vacante.fecha}">Fecha</td>
            <td th:text="${vacante.salario}">Salario</td>
            
            <!--<td th:text="${vacante.destacado == 1 ? 'SI' : 'NO'}">Destacada</td>  -->
            <td>
                <span th:if="${vacante.destacado==1}" class="badge text-bg-success">Si</span>
                <span th:unless="${vacante.destacado==1}" class="badge text-bg-danger">NO</span>
            </td>
            <td>
                <a th:href="@{/vacantes/view/{temp} (temp=${vacante.id})}" class="btn btn-primary">Detalle</a>
            </td>
            <td>
                <a th:href="@{/vacantes/delete(id=${vacante.id})}" class="btn btn-danger">Borrar</a>
            </td>
        </tr>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>